.list-container {
    font-size: 50px;
    padding: 5px 30px;
    margin-left: 57px;
    margin-top: 25px;
}

.voter-list {
    margin: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(8, 1fr);
    gap: 60px;
    justify-items: center;
}