p {
    font-size: 30px;
    padding: 5px 30px;
}

.voter-list {
    box-sizing: border-box;
    /* display: grid;
    grid-template-columns: repeat(6) 1fr;
    grid-template-columns: repeat(6) 1fr;
    gap: 30px; */
    margin: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}